.array-container {
  display: flex;
  gap: 12px;
  justify-content: center;
  flex-wrap: wrap;
}

/* DEFAULT BOX */
.box {
  width: 55px;
  height: 55px;
  border-radius: 12px;

  border: 3px solid red;

  background: linear-gradient(145deg, #334155, #1e293b);
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;

  box-shadow: 0 4px 12px rgba(0,0,0,0.5);
  transition: all 0.3s ease;
}

/* 🔍 COMPARE */
.box.active {
  background: linear-gradient(145deg, #facc15, #eab308) !important;
  color: black;
  transform: scale(1.2);
}

/* 🔁 SWAP */
.box.swap {
  background: linear-gradient(145deg, #ef4444, #b91c1c) !important;
  color: white;
}

/* 🟣 MERGE */
.box.merge {
  background: linear-gradient(145deg, #a855f7, #7e22ce) !important;
}

/* 🟢 FOUND */
.box.found {
  background: linear-gradient(145deg, #22c55e, #15803d) !important;
}

/* 🔵 PIVOT */
.box.pivot {
  background: linear-gradient(145deg, #38bdf8, #0284c7) !important;
}

/* 🔘 RANGE */
.box.range {
  background: #475569 !important;
  opacity: 0.6;
}