.array-container {
  display: flex;
  gap: 12px;
  justify-content: center;
  flex-wrap: wrap;
}

.box {
  width: 55px;
  height: 55px;
  border-radius: 10px;
  border: 2px solid #334155;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;

  background: #0f172a;  
  color: #e2e8f0;

  box-shadow: 0 0 8px rgba(255, 255, 255, 0.05);
  transition: all 0.3s ease;
}

.box.active,
.box.compare {
  background: #facc15;
  color: black;
  box-shadow: 0 0 12px #facc15;
  transform: scale(1.1);
}

.box.swap {
  background: #ef4444;
  color: white;
  box-shadow: 0 0 12px #ef4444;
  transform: scale(1.1);
}

.box.merge {
  background: #a855f7;
  color: white;
  box-shadow: 0 0 12px #a855f7;
}

.box.sorted,
.box.found {
  background: #22c55e;
  color: white;
  box-shadow: 0 0 12px #22c55e;
}

.box.pivot {
  background: #38bdf8;
  color: black;
  box-shadow: 0 0 12px #38bdf8;
}